/* navigation bar css start */

#navigation {
  .container {
    .navigation_wrapper {
      padding: 0.4rem 0;
      display: flex;
      align-items: center;
      .category_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: var(--primary-main);
        border-radius: 0.5rem;
        padding: 1.4rem 2.75rem;
        justify-content: center;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        gap: 0.6rem;
        line-height: 2.4rem;
        h3 {
          margin-left: 0.8rem;
        }
      }
      .navigation_list {
        display: flex;
        margin-left: 11rem;
        list-style: none;
        gap: 7.7rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.4rem;
        color: var(--gray-800);
      }
    }
  }
}

/* navigation bar css end */

/* product filter css start */

#product_filter {
  margin-top: 4.8rem;
  .container {
    display: flex;
    gap: 2.7rem;
    .filter_wrapper {
      padding: 0 2.6rem;
      flex-basis: 30.2rem;
      .filter_heading {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        margin-bottom: 1.6rem;
        color: var(--gray-800);
      }
      .category_filter {
        .category_name {
          p {
            font-size: 1.4rem;
            line-height: 2.2rem;
            padding: 1.2rem 0;
            color: #555555;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.1rem solid var(--gray-200);
            cursor: pointer;
            .down_arrow {
              color: var(--gray-500);
              transition: all 0.3s linear;
            }
          }
          #fruits_vegetables:checked ~ .category_item,
          #fruits_vegetables1:checked ~ .category_item {
            visibility: visible;
            opacity: 1;
            height: auto;
          }
          #fruits_vegetables:checked ~ label p,
          #fruits_vegetables1:checked ~ label p {
            color: var(--primary-main);
            .down_arrow {
              color: var(--primary-main);
              rotate: 180deg;
            }
          }
          .category_item {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s linear;
            height: 0rem;
            li {
              cursor: pointer;
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              line-height: 2.2rem;
              gap: 1rem;
              padding: 1.2rem 0;
              color: var(--gray-800);
              border-bottom: 0.1rem solid var(--gray-200);
              label {
                cursor: pointer;
              }
            }
          }
        }
      }
      .price_filter {
        margin-bottom: 3.2rem;
        .filter_heading {
          font-size: 2rem;
          font-weight: 500;
          line-height: 3rem;
          margin-bottom: 1.6rem;
          color: var(--gray-800);
        }

        #price_range {
          margin-bottom: 1.2rem;
          width: 100%;
          appearance: none;
          height: 0.4rem;
          border-radius: 0.4rem;
          background-color: rgba(0, 168, 132, 0.32);
          &::-webkit-slider-thumb {
            appearance: none;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: var(--primary-main);
          }
        }
        .price_reset {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 2.2rem;
            color: #555555;

            span {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 2.2rem;
              color: var(--gray-900);
              margin-left: 1.2rem;
            }
          }
          #reset_btn {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2.2rem;
            color: var(--info-main);
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
          }
        }
      }
      .rating_filter {
        .ratings {
          li {
            margin-bottom: 0.9rem;
            list-style: none;
            input {
              margin-right: 1.7rem;
            }
          }
          .star_icon {
            font-size: 2rem;
            color: #919eab;
            padding: 0.2rem;
          }
          label {
            .star_icon_golden {
              color: var(--warning-main) !important;
            }
          }
        }
      }
    }
    .all_products_wrapper {
      flex-basis: 97rem;
      margin-bottom: 15.6rem;
      .banner {
        margin-bottom: 6rem;
        position: relative;
        figure {
          width: 97rem;
          height: 33.5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          figcaption {
            position: absolute;
            left: 6rem;
            top: 8.4rem;
            width: 45.6rem;

            .banner_title {
              font-size: 6rem;
              font-weight: 800;
              line-height: 6.6rem;
              letter-spacing: 1.5%;
              margin-bottom: 1.2rem;
              color: var(--success-hover);
            }
            .subtitle {
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 2.2rem;
              letter-spacing: 0.25px;

              color: var(--success-dark);
            }
          }
        }
      }
      .header {
        display: flex;
        justify-content: space-between;
        div {
          .total_products {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: #1f2937;
            span {
              font-size: 1.6rem;
              line-height: 2.4rem;
              font-weight: 400;
              color: var(--gray-700);
            }
          }
        }
        div {
          .short_by {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            color: var(--gray-600);
            span {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 2.4rem;
              color: var(--gray-800);
              .down_arrow {
                color: #111827;
              }
            }
          }
        }
      }
      .products {
        margin-top: 2.4rem;
        row-gap: 2rem;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

/* product filter css end */

/* bottom services css start */

#bottom_service {
  margin-bottom: 6.4rem;
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid #e4e4e4;
  .container {
    .bottom_service_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 4rem;
      div {
        display: flex;
        align-items: center;
        figure {
          width: 4rem;
          height: 3.7rem;
          margin-right: 1.2rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        figcaption {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 2.2rem;
          color: var(--gray-800);
        }
      }
      .line {
        height: 2.8rem;
        width: 0.1rem;
        background-color: #e4e4e4;
        display: inline-block;
        margin: 0 4.8rem;
      }
    }
  }
}

/* bottom services css end */

/* footer css start */

#footer {
  margin-top: 4.4rem;
  .container {
    footer {
      .info_links_wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 9rem;
        .company_social_info {
          .logo {
            width: 19.3rem;
            height: 6rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
          p {
            font-size: 1.8rem;
            line-height: 3rem;
            color: var(--gray-700);
            width: 35.4rem;
            margin-top: 4rem;
          }
          .social_links {
            margin-top: 3.2rem;
            display: flex;
            gap: 1.6rem;
            a {
              display: inline-block;
              text-decoration: none;
              figure {
                width: 4.2rem;
                height: 4.2rem;
                background-color: rgba(224, 246, 242, 0.5);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  height: 1.5rem;
                  width: auto;
                }
              }
            }
          }
        }
        ul {
          li {
            list-style: none;
            color: var(--gray-700);
            font-size: 1.8rem;
            line-height: 3rem;
            margin-bottom: 2.4rem;
            &:first-child {
              text-transform: uppercase;
              color: var(--gray-800);
              font-size: 2rem;
              font-weight: 700;
              line-height: 3rem;
              margin-bottom: 2.5rem;
            }
          }
        }

        .contact {
          h4 {
            text-transform: uppercase;
            color: var(--gray-800);
            font-size: 2rem;
            font-weight: 700;
            line-height: 3rem;
            margin-bottom: 2.8rem;
          }
          p.contact_info {
            font-size: 1.8rem;
            line-height: 3rem;
            color: var(--gray-700);
            width: 31.6rem;
          }
          .question_support {
            margin-top: 3.2rem;

            display: flex;
            gap: 1.6rem;
            figure {
              width: 5.4rem;
              height: 5.4rem;
              border-radius: 50%;
              background-color: rgba(224, 246, 242, 0.5);
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 2.5rem;
                height: auto;
              }
            }
            div {
              .question {
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 2.2rem;
                color: var(--gray-800);
              }
              .phone {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 3.6rem;
                color: var(--primary-main);
              }
            }
          }
        }
      }
    }
  }
}

/* footer css end */

/* copywright and payment css start */

#copywright_payment {
  border-top: 0.1rem solid #e4e4e4;
  margin-bottom: 3.6rem;
  .copywright_payment_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem auto;
    .copywright {
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--gray-500);
      }
    }
    .payment {
      p {
        font-size: 1.8rem;
        font-weight: 500;
        color: rgba(1, 152, 233, 0.8);
        display: flex;
        align-items: center;
        img {
          width: 57.6rem;
          height: auto;
        }
      }
    }
  }
}

/* copywright and payment css end */
